@import url("https://fonts.googleapis.com/css2?family=Alike&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Gloock&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=League+Spartan:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@import "tailwindcss";

@layer base {
  p {
    font-size: clamp(18px, 1.8vw, 24px);
  }

  :root {
    --global-gap: 100px;
    --hl-con-gap: 75px;

    --main-blue: theme('colors.blue.300');
    --main-blue-dark: theme('colors.blue.300');
    --main-blue: #b4cef2;
    --main-blue: #b2cee3;
    --main-blue: #00637d;
    --light-blue: #d7ebed;
    --dark-blue: #f2fbec;

    --main-green: #86cb92;
    --main-green: #b4d3a7;
    --main-green: theme('colors.green.300');
    --main-green: #b4d3a7;
    --main-green: #40bf9a;
    --main-darkgreen: #081713;
    --dark-green: #112908;
    --dark-green: #000000;
    --light-green: #b4d3a7;
    --light-green: #9dd893;

    --main-grey: #e8e6e6;
    --light-grey: #eef0f4;
    --light-grey: #f8fcf9;
    --dark-grey: #1d360a;

    --main-lav: #d4badd;
    --main-lav: theme('colors.purple.300');
    --main-lav: #d982c9;
    --main-lav: #d4badd;
    --main-lav: #cd95f4;
    --light-lav: #d4badd;
    --text-lav: #b20cbe;
    --dark-lav: #da25b9;
    --dark-lav: #230024;

    --main-lgrey: #f3f9fa00;
    --main-textblack: #bc0d0d;

    --main-dgray: #6ba978;
    --main-dgray: #40BF9A;

    --banner-h-desktop: 6rem;
    --banner-h-mobile: 4rem;

  }

  .dark {
    --main-blue: theme('colors.blue.600');
    --main-green: theme('colors.emerald.600');
    --main-lav: theme('colors.violet.600');
  }

  body {
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #ffffff;
  }

  h1 {
    font-family: 'Gloock';
    font-size: 3rem;
    color: var(--dark-grey);
  }

	.twoColumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    padding-left: 6rem;
    padding-top: 3rem;
    padding-right: 6rem;
    background-color: #f6f6f6;
	}

	.threeColumn {
		column-count: 2;
    margin: 4rem
	}

  .textCardGreen {
    background-color: #fafafa;
    height: fit-content;
    width: 80%;
    margin: auto;
    padding: 1rem;
    border-radius: 5px;
    border: 0.15rem solid var(--main-green);
    text-align: justify;

  }
  .textCardGreen p {
    color: #333
  }
  .textCardGreen h1 {
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }

	.mainText {
		text-align: justify;
		background-color: var(--main-lgrey);
    opacity: 1;
		padding-left: 8rem;
		padding-right: 8rem;
	}
	.mainText p {
		font-family: 'Cormorant Garamond', serif;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		font-style: italic;
		font-size: 1.7rem;
    color: var(--main-darkgreen);
	}
	.mainText h1 {
		font-family: 'Gloock';
		text-align: center;
		font-size: 5rem;
		width: 100%;
    color: var(--dark-green);
	}
    
  .margined {
      @apply w-full max-w-[1400px] items-center px-5 m-auto;
  }

}

@media(max-width: 768px) {
  :root {
    --global-gap: 50px;
    --hl-con-gap: 25px;
  }

	.mainText {
		padding-left: 2rem;
		padding-right: 2rem;
    padding-bottom: 2rem;
	}
	.mainText h1 {
    padding-top: 2rem;
		font-size: 3rem;
	}
}
.text-link {
  @apply inline-block transition-all duration-150 hover:translate-x-1 font-bold;
  color: var(--text-lav);
}

  @layer components {

	@keyframes slideUp {
    	from {
    	    opacity: 0;
    	    transform: translateY(80px);
    	}
    	to {
    	    opacity: 1;
    	    transform: translateY(0);
    	}
	}
	.slide-up {
		opacity: 0;
	  animation: slideUp 0.2s ease-out forwards;
		animation-play-state: paused;
	}
	.delay-1 { animation-delay: 0.2s; }
	.delay-2 { animation-delay: 0.4s; }
	.delay-3 { animation-delay: 0.6s; }
	.delay-4 { animation-delay: 0.8s; }
}