.link {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 1.7rem;
    font-weight: 500;
    text-decoration: none;
}

.link:hover {
    color: #ddd;
}

.activepage {
    color: #fff;
    -webkit-text-stroke: 0.2px #fff;
    border-bottom: 2px solid #eee ;
    margin-bottom: -2px;
}

.note{
    --link-height: 3rem;
}

.animation-0 {
	animation: slide-down-0 0.2s ease-out forwards;
	animation-play-state: paused;
}
@keyframes slide-down-0 {
  from {
    opacity: 0
    translateY(-0*var(--link-height))
  }
  to {
    opacity: 1
    translateY(0) 
  }
}
.animation-1 {
	animation: slide-down-1 0.2s ease-out forwards;
	animation-play-state: paused;
}
@keyframes slide-down-1 {
  from {
    opacity: 0
    translateY(-1*var(--link-height))
  }
  to {
    opacity: 1
    translateY(0) 
  }
}
.animation-2 {
	animation: slide-down-2 0.2s ease-out forwards;
	animation-play-state: paused;
}
@keyframes slide-down-2 {
  from {
    opacity: 0
    translateY(-2*var(--link-height))
  }
  to {
    opacity: 1
    translateY(0) 
  }
}
.animation-3 {
	animation: slide-down-3 0.2s ease-out forwards;
	animation-play-state: paused;
}
@keyframes slide-down-3 {
  from {
    opacity: 0
    translateY(-3*var(--link-height))
  }
  to {
    opacity: 1
    translateY(0) 
  }
}
.animation-4 {
	animation: slide-down-4 0.2s ease-out forwards;
	animation-play-state: paused;
}
@keyframes slide-down-4 {
  from {
    opacity: 0
    translateY(-4*var(--link-height))
  }
  to {
    opacity: 1
    translateY(0) 
  }
}